@model IEnumerable<ProgrammingTest.Models.TicketFull>

@{
    ViewData["Title"] = "Tickets Daily";
}

<h1>Tickets Daily</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlockDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketsPlayed)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlockDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketsPlayed)
            </td>
        </tr>
}
    </tbody>
</table>
